* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(247, 245, 245);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #eaf1f7),
    color-stop(1, #d5f2f5)
  );
  background-image: -o-linear-gradient(bottom, #eaf1f7 0%, #d5f2f5 100%);
  background-image: -moz-linear-gradient(bottom, #eaf1f7 0%, #d5f2f5 100%);
  background-image: -webkit-linear-gradient(bottom, #eaf1f7 0%, #d5f2f5 100%);
  background-image: -ms-linear-gradient(bottom, #eaf1f7 0%, #d5f2f5 100%);
  background-image: linear-gradient(to bottom, #eaf1f7 0%, #d5f2f5 100%);
}

#navL:hover {
  color: #ffffff;
}

.aboutPage {
  padding-top: 20px;
  text-align: center;
  margin: 0 auto;
}

.nav-wrapper {
  box-shadow: 1px 1px 25px rgb(83, 221, 240);
}

.input-field input:focus + label {
  color: #607d8b !important;
}

.input-field input:focus {
  border-bottom: 1px solid #607d8b !important;
  box-shadow: 0 1px 0 0 #607d8b !important;
}

.alert {
  margin-top: 2rem;
}
